@using CrossDoubleN.ViewModels
@using CrossDoubleN.Models
@model List<CrossDoubleN.ViewModels.cross>
 
@{
    ViewBag.Title = "Список кроссвордов";
}
<style>
    #listing {
        float: left;
    }
    #nub {
        min-height:400px;
    }
    .hide {
        display: none;
    }
</style>
<h2>CrWord</h2>
<div id="listing">
    <select id="nub" multiple class="form-control opt">
        @for (int i = 0; i < Model.Count; i++)
        {
            <option ondblclick="resul(this.value,this.id)" value="@Model[i].name" id="@Model[i].id">@i) @Model[i].name</option>

        }
    </select>
    <nav aria-label="...">
        <ul class="pagination">
            <li class="disabled" id="pr">
                <a href="#" aria-label="Previous" onclick="prev()">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li> 
                <li id="1li" class="active"><a href="#" onclick="lis(this.innerHTML, 1)" id="ur1">1</a></li>
                <li id="2li"><a href="#" onclick="lis(this.innerHTML, 2)" id="ur2">2</a></li>
                <li id="3li"><a href="#" onclick="lis(this.innerHTML, 3)" id="ur3">3</a></li>
                <li id="4li"><a href="#" onclick="lis(this.innerHTML, 4)" id="ur4">4</a></li>
                <li id="5li"><a href="#" onclick="lis(this.innerHTML, 5)" id="ur5">5</a></li>
                <li id="6li"><a href="#" onclick="lis(this.innerHTML, 6)" id="ur6">6</a></li>
            <li id="nx">
                <a href="#" aria-label="Next" onclick="next()">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
            
        </ul>
    </nav>
</div>

<div id="results"></div>

<script type="text/javascript">
    var n = 1;
    var k=1;
    lis(1,1);
    function lis(number, mar){
        
        for(var i=-3; i<4; i++){
            var per = i + 4;
            var p = mar + i;
            var e = document.getElementById("ur" + per);
            var et = document.getElementById(per+"li");
            e.innerHTML = p;
            et.style.display=null;
            if (p < 1) {
                et.style.display = "none";
            }
            if (p > (@ViewBag.num)) {
                et.style.display = "none";
            }
    }
    var elem = document.getElementById(mar+"li");
    elem.classList=null;
    elem.classList.add("active");
    document.getElementById(k+"li").classList=null;
    n = number;
    k=mar;
        
    }

    function next() {
        n++;
        lis(n, k+1);
    }

    function prev() {
        n--;
        k--;
        lis(n, k+1);
    }

    function resul(name, id) {
        $('#results').load('@Url.Action("Crosswordes", "Home")?id=' + id);

    }
</script>

